@import '../mixins';
.button {
  @include mixin-flex();
  @include mixin-border();
    width: 90%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
  }
  .button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px #d3cece;
  }
  .span_name {
    @include mixin-font-size();
    @include mixin-font-weight();
    text-align: right;
  }
  .product_image {
    @include mixin-border();
    width: 50px;
    border-radius: 50%;
    padding: 5px;
  }
  
