@import 'mixins';
.main {
  @include mixin-main();
  @include mixin-flex();
  @include mixin-margin();
  width: 100%;
  justify-content: center;
  box-shadow: 1px 1px 5px 2px #807b7b;
}
.Detail {
  @include mixin-flex();
  @include mixin-margin();
  flex-basis: 30%;
  flex-direction: column;
  min-width: 300px;
}
.Master {
  flex-basis: 70%;
}